<!DOCTYPE html>
<html>
<head>
  <title>Wechat third party platform</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "wechat_third_party_platform/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
